// phone
.phone {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .phone_title {
    color: $white;
    font-family: $poppins_font;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    padding-top: 32px;
  }

  .phone_hr {
    width: 112px;
    height: 8px;
    border-radius: 10px;
    background: $green;
    border: none;
    margin-top: 8px;
    margin-bottom: 24px;
  }

  .phone_box_wrapper {
    display: flex;
    gap: 20px;

    .phone_box {
      width: 290.67px;
      height: 190px;
      box-sizing: border-box;
      border: 1px solid rgba(255, 255, 255, 0.25);
      border-radius: 12px;
      background: $black_grey;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h4 {
        color: $text_grey;
        font-family: $poppins_font;
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
      }

      p {
        color: $text_grey;
        font-family: $poppins_font;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
      }
    }
  }

  .phone_inp_box {
    width: 912px;
    height: 420px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 12px;
    background: $black_grey;
    padding: 20px;
    .phone_inp_wrappers {
      display: flex;
      gap: 20px;

      .phone_inp_title {
        color: $white;
        font-family: $poppins_font;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
      }

      .phone_inp {
        width: 420px;
        height: 44px;
        outline: none;
        box-sizing: border-box;
        border: 1px solid rgba(255, 255, 255, 0.25);
        border-radius: 8px;
        background: $black_grey;
        color: $white;
        padding-left: 15px;
        margin-top: 8px;
      }

      .phone_inp1 {
        width: 295px;
        height: 44px;
        outline: none;
        box-sizing: border-box;
        border: 1px solid rgba(255, 255, 255, 0.25);
        border-radius: 8px 0px 0px 8px;
        background: $black_grey;
        color: $white;
        padding-left: 15px;
        margin-top: 8px;
      }

      .phone_input_box {
        width: 137px;
        height: 44px;
        background: $black_grey;
        box-sizing: border-box;
        border-bottom: 1px solid rgba(255, 255, 255, 0.25);
        border-right: 1px solid rgba(255, 255, 255, 0.25);
        border-top: 1px solid rgba(255, 255, 255, 0.25);
        border-radius: 0px 6px 6px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 8px;
        cursor: pointer;
        .phone_input_title {
          color: $white;
          font-family: $poppins_font;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
        }
      }
    }
  }

  .phone_inp_box_wrappers1 {
    display: flex;
  }

  .phone_inp_title {
    color: $white;
    font-family: $poppins_font;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 20px;
  }

  .phone_title_inpute_math_teremok_vosmy_shestoy_i_igrovoy {
    width: 872px;
    height: 192px;
    outline: none;
    box-sizing: border-box;
    border: 1px solid $border_grey;
    border-radius: 8px;
    background: $black_grey;
    padding-bottom: 130px;
    padding-left: 15px;
    color: $white;
  }

  .phone_btn {
    border-radius: 8px;
    width: 158px;
    height: 40px;
    background: $green;
    color: $white;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
