// fonts
$poppins_font:"Poppins", serif;

// color
$black: #000;
$white: #fff;
$green: rgb(57, 150, 95);
$black_grey: rgba(32, 32, 32, 0.918);
$grey: rgb(34, 33, 33);
$text_grey: rgba(255, 255, 255, 0.7);
$border_grey: rgba(255, 255, 255, 0.25);
$info_box: rgba(255, 255, 255, 0.1);