// fonts
$poppins_font: "Urbanist", serif;

// color
$black: #000;
$white: #fff;
$green: rgb(57, 150, 95);
$black_grey: rgba(255, 255, 255, 0.05);
$grey: rgba(255, 255, 255, 0.1);
$text_grey: rgba(255, 255, 255, 0.7);
$border_grey: rgba(255, 255, 255, 0.25);