// fonts
$poppins_font: "Urbanist", serif;

// color
$black: #000;
$white: #fff;
$green: rgb(57, 150, 95);
$black_grey: rgba(0, 0, 0, 0.493);
$grey: rgba(29, 29, 29, 0.885);
$text_grey: rgba(255, 255, 255, 0.7);
$border_grey: rgba(255, 255, 255, 0.25);
$info_box: rgba(255, 255, 255, 0.1);