// site bar
.info {
  .info_left_right {
    .info_left {
      width: 288px;
      height: 100%;
      position: fixed;
      border-bottom: 1px solid rgba(255, 255, 255, 0.25);
      top: 48px;
      left: 0px;
      background: $black_grey;
      padding-left: 14px;
      overflow-y: scroll;

      .info_left_text {
        padding-top: 8px;
        color: $white;
        font-family: $poppins_font;
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
      }

      .info_left_box_wrapper {
        width: 259px;
        height: 62px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;
        padding-top: 8px;

        .info_left_box {
          background: $grey;
          cursor: pointer;
          padding: 6px 8px 6px 8px;
          font-size: 12px;
          font-weight: 400;
          line-height: 14px;
          color: $white;
          font-family: $poppins_font;
          border-radius: 8px;
          background: $info_box;
        }
      }

      .info_left_list {
        padding-top: 28px;
        display: flex;
        flex-direction: column;
        gap: 17px;

        .info_left_li {
          display: flex;
          align-items: center;
          gap: 10px;

          .info_left_text_wrapper {
            .info_left_li_text {
              color: $white;
              font-family: $poppins_font;
              font-size: 16px;
              font-weight: 500;
              line-height: 24px;
            }

            .info_left_li_suptitle {
              color: $text_grey;
              font-family: $poppins_font;
              font-size: 14px;
              font-weight: 400;
              line-height: 21px;
            }
          }
        }
      }
    }
    .info_right {
      position: relative;
      .info_right_wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 276px;
        gap: 16px;
        .info_right_title {
          color: $white;
          font-family: $poppins_font;
          font-size: 36px;
          font-weight: 700;
          line-height: 54px;
          width: 633px;
          text-align: center;
          span {
            color: $green;
          }
        }
        .info_right_suptitle {
          color: $text_grey;
          font-family: $poppins_font;
          font-size: 18px;
          font-weight: 400;
          line-height: 27px;
          width: 633px;
          text-align: center;
        }
        .info_right_btn {
          font-size: 18px;
          font-weight: 400;
          line-height: 27px;
          color: $white;
          font-family: $poppins_font;
          width: 169px;
          height: 43px;
          border-radius: 8px;
          background: $green;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    .info_left::-webkit-scrollbar {
      display: none;
    }
  }
}
